@use 'sass:math';
@import '../../scss/defaults';
@import '../../scss/variables';
@import '../../scss/shadows';

$box-size: math.div($default-control-height, 2);

:host([dark]) {
  .moco-checkbox-box {
    border: 1px solid $color-border-dark;
    background-color: $color-background-dark;

    &:focus,
    &:focus-within {
      background-color: $color-background-dark-focused;
      border: 1px solid $color-border-dark-focused;
    }

    & > svg {
      fill: $color-svg-dark;
    }
  }
}

:host([disabled]) {
  .moco-checkbox-box {
    border: 1px solid $color-background-disabled;
    background-color: $color-background-disabled;

    &:focus,
    &:focus-within {
      background-color: $color-background-disabled;
      border: 1px solid $color-background-disabled;
      box-shadow: 0 0 0 transparent;
    }

    & > svg {
      fill: $color-text-disabled;
    }
  }
}

.moco-checkbox-box {
  min-width: $box-size;
  min-height: $box-size;
  width: $box-size;
  height: $box-size;

  border-radius: $default-border-radius;
  border: 1px solid $color-border-light;
  background-color: $color-background-light;

  cursor: pointer;
  outline: none;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:focus,
  &:focus-within {
    background-color: $color-background-light-focused;
    border: 1px solid $color-border-light-focused;
    @include shadow-sm;
  }

  & > svg {
    fill: $color-svg-light;
    transition: all .3s;
  }
}

.extend {
  & > svg {
    $size: $box-size * 0.8;
    min-width: $size;
    min-height: $size;
    width: $size;
    height: $size;
  }
}

.shrink {
  & > svg {
    $size: 0;
    min-width: $size;
    min-height: $size;
    width: $size;
    height: $size;
  }
}
