@use 'sass:math';
@import '../../scss/defaults';
@import '../../scss/variables';
@import '../../scss/shadows';
@import '../../scss/after-label';

:host([dark]) {
  ::slotted(svg) {
    fill: $color-svg-dark;
  }

  .container {
    &:focus .control,
    &:focus-within .control {
      border: 1px solid $color-border-dark-focused;
      background-color: $color-background-dark-focused;
      @include shadow-sm;
    }
  }

  .control {
    border: 1px solid $color-border-dark;
    background-color: $color-background-dark;
    color: $color-text-dark;
  }

  .carousel-icons {
    & svg {
      fill: $color-background-light-focused;
    }
  }

  .popover {
    background-color: $color-background-dark;
    color: $color-text-dark;
  }
}

:host([error]) {
  .container {
    &:focus .control,
    &:focus-within .control {
      border: 1px solid $color-error;
    }
  }

  .control {
    border: 1px solid $color-error;
  }
}

::slotted(*[slot='decal']) {
  padding: {
    left: 0.75rem;
    right: 0;
    top: 0;
    bottom: 0;
  }
  align-self: center;
}

::slotted(span) {
  padding: 1rem;
  color: $color-text-placeholder;
}

::slotted(svg) {
  fill: $color-svg-light;
  width: $default-svg-size;
  height: $default-svg-size;
}

.container {
  position: relative;
  outline: none;

  &:focus .control,
  &:focus-within .control {
    border: 1px solid $color-border-light-focused;
    background-color: $color-background-light-focused;
    @include shadow-sm;
  }
}

.control {
  border: 1px solid $color-border-light;
  background-color: $color-background-light;
  color: $color-text-light;
  border-radius: $default-border-radius;

  height: $default-control-height;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  position: relative;

  & > div.selected-element {
    flex: 1;
    align-self: center;
  }

  &-clickbox {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: $default-control-height;
}

.carousel-icons {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
  height: calc(2 * $default-control-height);

  & svg {
    fill: $color-background-dark-focused;
    width: math.div($default-control-height, 1.5);
    height: math.div($default-control-height, 1.5);
  }

  &-up {
    @extend .carousel-icons;
    margin-top: -0.1rem;
  }

  &-down {
    @extend .carousel-icons;
    margin-top: calc(-1 * $default-control-height);
  }
}

.popover {
  display: flex;
  flex-direction: column;
  z-index: 10;

  position: absolute;
  top: calc($default-control-height + 0.3rem);
  left: 0;

  border-radius: $default-border-radius;

  width: 100%;
  max-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;

  background-color: $color-background-light;
  color: $color-text-light;

  transition: all 0.1s ease-out;

  &-open {
    @extend .popover;
    @include shadow-md;

    max-height: 15rem;
    transition: all 0.3s ease-out;
  }
}
