@use 'sass:math';
@import '../../scss/defaults';
@import '../../scss/variables';
@import '../../scss/shadows';

@mixin disabled-knob {
  color: $color-text-disabled;
  background-color: $mui-grey-200;
  border: 1px solid $mui-grey-200;
}

:host([dark]) {
  .container {
    border: 1px solid $color-border-dark;
    background-color: $color-background-dark;

    &:focus {
      border: 1px solid $color-border-dark-focused;
      @include shadow-sm;
    }
  }

  .knob {
    color: $color-text-light;
    background-color: $mui-grey-300;
    border: 1px solid $mui-grey-300;

    &-set {
      color: $color-text-light;
      background-color: $color-background-light;
      border: 1px solid $color-background-light;
    }
  }
}

:host([disabled]) {
  .container {
    background-color: $color-background-disabled;
    cursor: default;

    &:focus {
      border: 1px solid $color-background-disabled;
      box-shadow: 0 0 0 transparent;
    }
  }

  .knob {
    background-color: $color-text-disabled;
    border: 1px solid $color-text-disabled;

    &-set {
      background-color: $color-text-disabled;
    }
  }
}

.container {
  min-width: 3rem;
  min-height: math.div($default-control-height, 2);
  width: 3rem;
  height: math.div($default-control-height, 2);

  border: 1px solid $color-border-light;
  border-radius: $default-border-radius;
  background-color: $color-background-light;

  position: relative;

  transition: all 0.3s ease-out;
  outline: none;
  cursor: pointer;

  &:focus {
    border: 1px solid $color-border-light-focused;
    @include shadow-sm;
  }
}

.knob {
  min-width: 1.25rem;
  min-height: math.div($default-control-height, 2) - 0.5rem;
  width: 1.25rem;
  height: math.div($default-control-height, 2) - 0.5rem;

  color: $color-text-dark;
  background-color: $mui-grey-500;
  border: 1px solid $mui-grey-500;
  border-radius: $default-border-radius;

  position: absolute;
  top: 0.2rem;
  left: 0.2rem;

  transition: all 0.3s ease-out;

  &-set {
    @extend .knob;
    left: 1.4rem;
    border: 1px solid $color-background-dark;
    background-color: $color-background-dark;
  }
}
