@use 'sass:math';
@import '../../scss/defaults';
@import '../../scss/variables';
@import '../../scss/shadows';

$box-size: math.div($default-control-height, 2);

:host([dark]) {
  .moco-radiobutton-box {
    border: 1px solid $color-border-dark;
    background-color: $color-background-dark;

    &:focus,
    &:focus-within {
      border: 1px solid $color-border-dark-focused;
      background-color: $color-background-dark-focused;
      @include shadow-sm;
    }

    &-circle {
      background-color: $color-background-light;
    }
  }
}

:host([disabled]) {
  .moco-radiobutton-box {
    border: 1px solid $color-background-disabled;
    background-color: $color-background-disabled;

    &:focus,
    &:focus-within {
      border: 1px solid $color-background-disabled;
      background-color: $color-background-disabled;
      box-shadow: 0 0 0 transparent;
    }

    &-circle {
      background-color: $color-text-disabled;
    }
  }
}

.moco-radiobutton-box {
  min-width: $box-size;
  min-height: $box-size;
  width: $box-size;
  height: $box-size;

  border-radius: 100%;
  border: 1px solid $color-border-light;
  background-color: $color-background-light;

  cursor: pointer;
  outline: none;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:focus,
  &:focus-within {
    border: 1px solid $color-border-light-focused;
    background-color: $color-background-light-focused;
    @include shadow-sm;
  }

  &-circle {
    border-radius: 100%;
    background-color: $color-background-dark;
    transition: all .3s;
  }
}

.extend {
  $size: $box-size * 0.6;
  min-width: $size;
  min-height: $size;
  width: $size;
  height: $size;
}

.shrink {
  $size: 0;
  min-width: $size;
  min-height: $size;
  width: $size;
  height: $size;
}
