@import '../../scss/defaults';
@import '../../scss/variables';
@import '../../scss/shadows';

:host([dark]) {
  .option {
    &::after {
      background-color: $color-highlight-dark;
    }
  }

  .option-selected {
    &::after {
      background-color: $color-selected-dark;
    }
  }
}

.option {
  padding: .75rem;
  transition: all .3s ease-out;
  cursor: pointer;

  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $color-highlight-light;
    z-index: -1;
    transition: all .3s ease-out;
  }

  &:hover::after {
    left: 0;
  }
}

.option-selected {
  @extend .option;
  color: $color-text-dark;

  &::after {
    background-color: $color-selected-light;
    left: 0;
  }
}
