@mixin afterLabel {
  content: attr(data-label-text);
  position: absolute;
  top: -0.6rem;
  left: 0.5rem;
  background-color: $color-background-light;
  padding: 0 0.5rem 0.2rem 0.5rem;
  border-radius: 1rem;

  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: lowercase;

  transition: all 0.3s ease-in;
}