@import './mui-colors';

$default-control-height: 2.75rem;
$default-border-radius: 5px;
$default-svg-size: 20px;
$default-gap: .5rem;

$color-error: $mui-red-A400;

$color-text-light: $mui-grey-800;
$color-text-dark: $mui-grey-200;
$color-text-disabled: $mui-grey-200;
$color-text-placeholder: $mui-grey-500;

$color-background-light: $mui-grey-50;
$color-background-light-focused: white;

$color-background-dark: $mui-grey-600;
$color-background-dark-focused: $mui-grey-700;
$color-background-disabled: $mui-grey-300;

$color-border-light: $mui-grey-300;
$color-border-light-focused: $mui-grey-800;

$color-border-dark: $mui-grey-800;
$color-border-dark-focused: black;

$color-svg-light: $mui-grey-600;
$color-svg-dark: $mui-grey-200;

$color-highlight-light: $mui-grey-300;;
$color-highlight-dark: $mui-grey-500;

$color-selected-light: $mui-grey-500;
$color-selected-dark: $mui-grey-800;
