// GREY
$mui-grey-50: #fafafa;
$mui-grey-100: #f5f5f5;
$mui-grey-200: #eeeeee;
$mui-grey-300: #e0e0e0;
$mui-grey-400: #bdbdbd;
$mui-grey-500: #9e9e9e;
$mui-grey-600: #757575;
$mui-grey-700: #616161;
$mui-grey-800: #424242;
$mui-grey-900: #212121;
$mui-grey-A100: #f5f5f5;
$mui-grey-A200: #eeeeee;
$mui-grey-A400: #bdbdbd;
$mui-grey-A700: #616161;

// RED
$mui-red-50: #ffebee;
$mui-red-100: #ffccd1;
$mui-red-200: #ef9a9a;
$mui-red-300: #e57373;
$mui-red-400: #ef5350;
$mui-red-500: #f44336;
$mui-red-600: #e53935;
$mui-red-700: #d33131;
$mui-red-800: #c62828;
$mui-red-900: #b71c1c;
$mui-red-A100: #ff8a80;
$mui-red-A200: #ff5252;
$mui-red-A400: #ff1744;
$mui-red-A700: #d50000;


// PRE-DEFINED COLORS
$color-error: $mui-red-A400;

$color-text-light: $mui-grey-800;
$color-text-dark: $mui-grey-200;

$color-text-disabled: $mui-grey-200;

$color-background-light: $mui-grey-50;
$color-background-light-focused: white;

$color-background-dark: $mui-grey-600;
$color-background-dark-focused: $mui-grey-700;

$color-background-disabled: $mui-grey-300;

$color-border-light: $mui-grey-300;
$color-border-light-focused: $mui-grey-800;

$color-border-dark: $mui-grey-800;
$color-border-dark-focused: black;

$default-border-radius: 5px;