@import './mui-colors';

$default-input-control-height: 2.5rem;

$color-error: $mui-red-A400;

$color-text-light: $mui-grey-800;
$color-text-dark: $mui-grey-200;

$color-text-disabled: $mui-grey-200;

$color-background-light: $mui-grey-50;
$color-background-light-focused: white;

$color-background-dark: $mui-grey-600;
$color-background-dark-focused: $mui-grey-700;

$color-background-disabled: $mui-grey-300;

$color-border-light: $mui-grey-300;
$color-border-light-focused: $mui-grey-800;

$color-border-dark: $mui-grey-800;
$color-border-dark-focused: black;

$default-border-radius: 5px;